@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    text-align: justify;
}


@font-face{
    font-family: 'android';
    src:url('./pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

:root{
    --font-android: 'android', cursive;
}


body{
background-color: rgb(150, 149, 149);
}


header{
    background-color: rgb(26, 26, 26);
    color: rgb(167, 25, 25);
    font-family:var(--font-android) ;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    width: auto;
    padding:40px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.548);
}

.scp{
    width: 10px;
}

nav{
    width: auto;
    background-color: rgb(22, 22, 22);
    text-size-adjust: auto;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    word-spacing: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.548);
}

nav >a {
    text-decoration: none;
    text-size-adjust: auto;
    font-size: 1.2em;
    color: rgb(167, 15, 15);
    padding:10px;
    transition-duration: 0.5s;
    

    
    
}

nav > a:hover{
background-color: brown;
color: white;
border-radius: 5px 5px 0px 0px;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.548);

}

main{
    background-color: white;
    margin: auto;
    margin-bottom: 50px;
    max-width: 1200px;
    height: 1200px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.548);
}


main h1{
    background-color: rgb(22, 22, 22);
    color: rgb(167, 15, 15);
    border-radius:15px 0px 15px 0px;
    font-size: 25px;
    padding: 5px;
    
    
}

main h2{
    
    color: rgb(167, 15, 15);
    
    padding: 5px;



}



main  p{
    text-align: justify ;
    margin: 15px 0px;
    text-indent: 20px;
}

img{
    margin: auto;
    min-width: 400px;
    display:flexbox;
    width: 50%;
}

footer{
    background-color: black;
    color: rgb(194, 32, 32);
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

footer > a{
    text-decoration: none;
    color:rgb(243, 32, 32) ;
}