@charset "utf-8" ;


body{
    background-color: #f0e3c9;
   
    
   
}

header{
    background-image: linear-gradient(to top, #2f5f37, #90eeaf); 
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.781);
   
    
    
    
    
}


    


nav{
  text-align: left;  
  background-color: #2f5f37;
  padding: 5px;
  text-align: justify;
    
}

nav > a{
    text-decoration: none;
    color:white;
    padding: 30px;
    
}

nav > a:hover{
    color: white;
    background-color: #58c77d;
    
    border-radius: 10px;
   
    
}

main{
  text-align: justify;
}